.container_login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    gap: 60px;
}

.container_login img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: inset 2px 5px 10px #000000;
    border: none;
    transition: all 0.3s;
    animation: animaLogo 2s  ease infinite  ;
}

@keyframes animaLogo {
    0%, 100%{
        background-color: tomato;
        transform: scale(1.1);
    }
   
    50%{
        background-color:  rgba(115, 255, 0, 0.719);
        transform: scale(1);
    }
}

.area_login {
  
    width: 300px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    box-shadow: 0px 0px 50px #e7ac09a1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area_login form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.area_login div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.area_login div label {
    display: flex;
    color: #ffffff;
    font-size: 23px;
    font-weight: bolder;
    border-bottom: solid 6px chocolate;
    padding: 4px 0px;
    width: 100px;
}

.area_login div input {
    width: 200px;
    height: 40px;
    background-color: #fff;
    border: none;
    color: #000000;
    padding: 0px 10px;
    font-size: 15px;
    font-weight: bolder;
    box-shadow: inset 1px 2px 5px 1px #000;
}

.area_login div input::placeholder {
    color: #000000;
}

.area_login div input:focus{
    background-color: #d4d4d4;
}

.area_login div  input:valid:not(:placeholder-shown) {
    background-color: #578562;
    color: #fff;
}

.area_login button {
    height: 40px;
    font-size: 18px;
    font-weight: bolder;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
}

.area_login button:hover {
    background-color: chocolate;
    color: #fff;
}

.google {
    background-color: #000000;
    color: #fff;
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
    position: relative;
    padding-left: 25px;
    border: solid 2px #fff;
}

.google::after{
    content: "a";
    position: absolute;
    width: 25px;
    width: 25px;
    left: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
    color: transparent;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUd0mhFBnNGIp-BlV7c9gtbzJB1sgeaYq7-A&usqp=CAU") no-repeat center / cover;
}