.card {
    width: 330px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 4px 20px #00000044;
    transform: scale(0.8);
}

@media (max-width:460px){
    .card {
        min-width: 365px;
    }
}


.error {
    font-size: 20px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 25vh);
    color: #ff0000;
    font-weight: bolder;
    gap: 20px;
    font-size: 12px;
    width: 100%;

}

.error img {
    width: 60px;
    height: 60px;
    display:flex;
    margin-top: 100px;
}


.card div {
    display: flex;
    gap: 5px;
    position: relative;
}

.card section:nth-child(1) {

  
}

.card section:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    
}

.card section:nth-child(2) h3 {
    font-size: 22px;
    font-weight: bolder;
    border-bottom:  solid 3px tomato;
    text-transform: capitalize;
}

.card section:nth-child(2) span {
    font-size: 14px;
    font-weight: bolde;
    margin-top: 5px;
    text-align: center;
}

.card section:nth-child(2) h5 {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 5px;
}

.card section:nth-child(2) p {
   font-weight: bolder;
   display: flex;
   justify-content: center;
   width: 80px;

}

.card img {
    width: 100px;
    height:100px;
    border-radius: 10px;
    transform: scale(0.9);
    object-fit: cover;
}

.tile_descricao {
    text-align: center;
}

.footer_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: #000;
    border-radius: 0px 0px 10px 10px;
    border-top: solid 2px #808080a4;
    font-size: 14px;
}

.contador{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
}

.contador section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador section div {
    padding: 3px 20px;
    font-size: 25px;
    color: #ffffff;
    outline: none;
    user-select: none;
   
}

.contador h3 {
    color: #ffffff;
    text-transform: capitalize;
}

.contador  section div:nth-child(1){
    cursor: pointer;
    font-weight: bolder;
    font-size: 30px;
    padding-bottom: 6px;
   
}

.contador div:nth-child(3){
    cursor: pointer;
    outline: none;
    user-select: none;
}


.area_disponives {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding-left: 20px;
    position: absolute;
    right: 15px;
    top: 50px;
}
.area_disponives h5 {
    font-size: 16px;
}

.area_disponives span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: chocolate;
    font-size: 20px;
    font-weight: bolder;
    
}