.produts {
    position: relative;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.btn_add_produtos {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-weight: bolder;
    font-size: 30px;
    position: absolute;
    z-index: 98;
    top: 100px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn_add_produtos:hover{
    background-color: tomato;
}

.search_container{
   background: linear-gradient(90deg, #d44b4b 50%, rgba(9, 49, 136, 0.486)  50%);
   display: flex;
   flex-direction: column;
   position:absolute;
   width: 100%;

    z-index:99;
}
.input_area{
    display: flex;
    gap: 10px;
    background-color: #000;
}

.search_input div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 10px;
    background-color: rgb(0, 0, 0);
}

.search_input div h2{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) ;
    border-radius: 0px 1% 0px 0px;
    font-size: 23px;
    padding: 10px 22px;
    border-radius: 10px 0px 0px 0px;
    
}

.search_input input {
    height: 30px;
    border: none;
    width: 150px;
    padding: 0px 10px;
    border-radius: 6px;
}

.search_categorias{
    display: flex;
    justify-content:center;
    background-color: rgb(255, 255, 255) ;
    border-bottom: solid 1px rgba(212, 212, 212, 0.466)
}

.search_categorias ol{
   display: flex;
   align-items: center;
   background-color: rgb(255, 255, 255) ;
   gap: 12px;
   padding: 0px 16px;
   overflow: auto;
   border-radius: 30px;
}

.search_categorias li {
   color: #000000;
   font-weight: bolder;
   font-size: 20px;
   padding: 0px 5px;
   transition: all 0.3s;
   border-bottom: solid 3px rgb(255, 255, 255);
   text-transform: capitalize;
}

.search_categorias li:hover, .ativo {
    border-bottom: solid 3px tomato;
}

.container_produtos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.area_produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:calc(100%);
    height: calc(100vh - 6vh);
    padding: 0px 0px;
    overflow: auto;
    padding-top: 100px;
    background-color: rgb(255, 255, 255);
}

@media (min-width:900px) and (max-width:990px) {
  .area_produtos {
    height: calc(100vh - 14vh);
  }
}

@media (min-width:820px) and (max-width:832px) {
  .area_produtos {
    height: calc(100vh - 18.4vh);
  }
}

@media (min-width:320px) and (max-width:376px) {
  .area_produtos {
    height: calc(100vh - 7.2vh);
  }
}

@media (min-width:377px) and (max-width:430px) {
  .area_produtos {
    height: calc(100vh - 6.6vh);
  }
}

@media (min-width:425px) and (max-width:450px) {
  .area_produtos {
    height: calc(100vh - 7.2vh);
  }
}

.area_produtos::-webkit-scrollbar {
    width: 5px;
}
.area_produtos::-webkit-scrollbar-thumb {
    background-color: chocolate; /* cor do polegar da barra de rolagem */
  }

  .area_modal{
    display: none;
    justify-content: center;
    align-items: center;
    position:fixed;
    height: calc(100vh );
    width: 100%;
    background-color: rgba(0, 0, 0, 0.911);
    z-index: 111;
    top: 0;
    padding: 40px;
    
  }

  .modal {
    background-color: chocolate;
    border-radius: 10px;
    box-shadow: 2px 4px 20px #000000bd;
    position: relative;
  }

  .close_modal {
    display: flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: black;
    position: absolute;
    left: 5px;
    top: 5px;
    color: #fff;
    border-radius: 30%;
    transition: all 0.3s;
    cursor: pointer;
  }

  .close_modal:hover {
    background-color: rgb(136, 136, 136);
  }

  .form_modal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }

  .form_modal section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form_modal section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
  }
  .form_modal section div {
    display: flex;
    flex-direction: column;
    padding: 6px;
  }

  .form_modal section div input{
    width:250px;
    height: 30px;
    padding-left: 10px;
    border: none;
    margin-top: 10px;
  }

  .form_modal section div label{
    font-weight: bolder;
    font-size: 18px;
    color: #fff;

  }
  .form_modal section div textarea{
    padding: 10px;
  }

  .form_modal section  button {
    width: 120px;
    height: 30px;
    margin-top: 10px;
    border: none;
    font-weight: bolder;
    transition: all 0.3s;
    border-radius: 10px;
  }

  .form_modal section  button:hover {
    background-color: black;
    color: #fff;
    box-shadow: 1px 2px 5px #000;
  }