header {
  position: relative;
  padding-bottom: 60px;
  background-color: #000000;
  z-index: 113;
}
.conteiner_header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0px;
  padding-right: 40px;
  background-color: #000000;
  gap: 80px;
  position: fixed;
  z-index: 113;
  top: 0;
  
}

header h1 {
  color: #fff;
  font-weight: bolder;
  font-size: 30px;
}

.conteiner_header p {
  position: relative;
  z-index: 111;
  border: solid 2px tomato;
  background-color: tomato;
}

 p {
   padding: 6px 25px;
   color: aliceblue;
   background-color: tomato;
   border-radius: 5px;
 }

 .toogle {
  height: 35px;
  width: 35px;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  top: 12px;
  transition: all 0.3s ease;
  z-index: 100;
  cursor: pointer;
 }

 .carrinho {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: blanchedalmond;
  background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTNwsxcXZZqO_uqaVHDJYU_XHM2VnMyBW2loXFd9ItunXIGvqaV") no-repeat  center / cover;
 }

 .carrinho span {
  color: tomato;
  position: absolute;
  right: -15px;
  top: 12px;
  font-size: 20px;
  font-weight: bolder;
  font-weight: 600;
 }
 
