
.area_toogle {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px ;
  background-color: #000;
  /* position: fixed;
  z-index: 222; */
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-shadow: 1px 5px 5px tomato;
  font-size: 35px;
  min-height: 20vh;
  width: 100%;
  background: #000 url("https://static.vecteezy.com/ti/photos-gratuite/p1/22514411-naturel-rustique-bois-toile-de-fond-vieilli-en-bois-texture-planches-pour-une-ancien-regardez-toile-de-fond-gratuit-photo.jpeg")  no-repeat center  / cover;
}

header h1 {
  color: #fff;
  font-weight: bolder;
  font-size: 30px;
}

 p {
   padding: 6px 25px;
   color: aliceblue;
   background-color: tomato;
   border-radius: 5px;
 }

 .toogle {
  background-color: tomato;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  position: absolute;
  left: 50px;
  transition: all 0.4s;
  z-index: 100;
  cursor: pointer;
 }