.area_toogle {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px ;
  background-color: #000;

}

.banner {
  height: 20vh;
  width: 100%;
  background: #000 url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiktVtuAsaFhmJ-tpS5woUeFaEcgTjw7N0yAbA6eRVDqgOkKvgSgkEkesIgg6SeH4R2A&usqp=CAU") no-repeat center  / cover;
}

header h1 {
  color: #fff;
  font-weight: bolder;
  font-size: 30px;
}

 p {
   padding: 6px 25px;
   color: aliceblue;
   background-color: tomato;
   border-radius: 5px;
 }

 .toogle {
  background-color: tomato;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  position: absolute;
  left: 50px;
  transition: all 0.4s;
  z-index: 100;
  cursor: pointer;
 }